<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h1 style="background-color: red;">Salut <%= @user.email %> !</h1>
    <p>
      Nous avons bien réceptionné ta commande et nous te remercions de ta confiance !
    </p>
  <% @items.each do |item| %>
    <%= image_tag item.picture, height: "300px;" %>
  <% end %>
    <p> À très vite sur Chaton Town !</p>
  </body>
</html>
