<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> !</h1>
    <p>
      Nous avons bien réceptionné ta commande et nous te remercions de ta confiance !
    </p>
  <% @items.each do |item| %>
    <%= image_tag item.picture, height: "300px;" %>
  <% end %>
    <p> À très vite sur Chaton Town !</p>
  </body>
</html>