<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour cher Admin !</h1>
    <p>
      Une nouvelle commande vient d'être passée :</br>
      <%= @items %>
    </p>
    <p> À très vite !
  </body>
</html>