<p id="notice"><%= notice %></p>

<h2>Panier</h2>

<ul>

  <% @cart.join_cart_items.each do |itemL| %>
    <li class="mb-3">
      <%= itemL.item.title %> (Quantité = 1) <%= link_to "Supprimer", cart_path(itemL.item), method: "DELETE",class: "btn-sm btn-danger"%>
    </li>
  <% end %>

</ul>

<p>
  <%= link_to "Retour aux produits", root_path %>
</p>
