<div class="card-body">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <form method="POST">
      <br>
      <input class="form-control rounded-0" type="text" name="title" minlength="5" maxlength="140" placeholder="Quel est le titre de votre évènement ?">
      <br>
      <textarea class="form-control rounded-0" name="description" placeholder="description" minlength="20" maxlength="1000"></textarea>
      <br>
      <textarea class="form-control rounded-0" name="description" placeholder="Ajouter une description de votre évènement" minlength="20" maxlength="1000"></textarea>
      <br>
      <div class="container text-center">
        <input type="submit" value="Créer l'image de chat" class="btn btn-lg btn-primary rounded-2">
      </div>
    </form>
  <% end %>
</div>
