<% if current_page?(root_path) %>
  <div class="jumbotron" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  ">
    <h1 class="mb-1 jumbotitle text-white">Chaton Town</h1>
    <%= link_to "Nouveau chat à vendre", new_item_path, class:"btn btn-outline-warning btn-lg mx-1 my-1" %>
    <h1 class="mb-3 text-white">Voici la liste de chats à vendre :</h1>
  </div>
<% end %>