<% if current_page?(root_path) %>
  <div class="jumbotron" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  ">
    <h1 class="display-4 text-white">Chaton Town</h1>
    <p class="lead text-warning"><strong>Photos amateurs et professionnelles</strong></p>
    <%= link_to "Nouveau chat à vendre", new_item_path, class:"btn btn-outline-warning btn-lg mx-1 my-1" %>
  </div>
<% end %>